@font-face {
    font-family: "Raleway";
    src: url('font/Raleway-Regular.ttf');
}
@font-face {
    font-family: "Raleway-bold";
    src: url('font/Raleway-Bold.ttf');
}
@font-face {
    font-family: "Raleway-light";
    src: url('font/Raleway-Light.ttf');
}
@font-face {
    font-family: "Raleway-thin";
    src: url('font/Raleway-Thin.ttf');
}
@font-face {
    font-family: "ebrima";
    src: url('font/Raleway-Regular.ttf');
}
*{
	font-family:Raleway;
}
