@font-face {
    font-family: Raleway;
    src: url('font/Raleway-Regular.ttf');
}
@font-face {
    font-family: "font-bold";
    src: url('font/font-bold.ttf');
}
@font-face {
    font-family: "Raleway-light";
    src: url('font/Raleway-Light.ttf');
}
@font-face {
    font-family: "font-thin";
    src: url('font/font-thin.ttf');
}
*{
	font-family:Raleway;
}
